* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
  